.headerContainer{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid grey;

}
.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    position: sticky;
    top: 0;
    z-index: 999;
}
.logo{
    padding: 5px;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    /* color: white; */
    cursor: pointer;
}
@media screen and (max-width: 768px)  {
    .headerWrapper{
      display: none;
    }
  }